.top-nav {
    background-color: #2a3134;
    margin-top: 0px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 0px;
    padding: 1px;
}
.top-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.segment-picker {
    font-size: 1.4rem;
    color: white;
}
a:hover {
    color: white;
}
.nav-seg {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 300 !important;
}
.navbar {
    margin-top: -1px;
    padding-bottom: 0px;
}
.end-seg {
    margin-right: 18px;
}
.active-seg {
    background-color: #b30000;
    margin-top: -1px;
    margin-bottom: -1px;
}
ul {
    list-style-type: none;
}
.key-logo{
    height: 8.75rem;
    margin-top: 5px;
    margin-left: 5px;
}
.nav-mid {

    display: flex;
    flex-direction: row;
}
.util-ul {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.util-li {
    color: black;
}
.util-li:hover {
    color: black;
}
.util-nav {
    margin-left: auto;
}
.btn {
    background-color: white;
    margin-left: -10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.input {
    border: 0px;
    padding-left: 12px;
    padding-top: 10px;
    opacity: 0.5;
}
.srch-form{
    border: solid 1px;
    border-color: lightgrey;
    margin-top: 30px;
    width: 225px;
    height: 38.8px;
    margin-right: 35px;
}
.li-loc {
    margin-right: 20px;
}
.li-cont {
    margin-right: 20px;
}
.nav-hr {
    margin-left: -20px;
    margin-right: -20px;
    border-color: black;
    margin-top: 7.5px;
}