.top-nav {
    background-color: #2a3134;
    margin-top: 0px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 0px;
    padding: 1px;
}
.top-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.segment-picker {
    font-size: 1.4rem;
    color: white;
}
a:hover {
    color: white;
}
.nav-seg {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 300 !important;
}
.navbar {
    margin-top: -1px;
    padding-bottom: 0px;
}
.end-seg {
    margin-right: 18px;
}
.active-seg {
    background-color: #b30000;
    margin-top: -1px;
    margin-bottom: -1px;
}
ul {
    list-style-type: none;
}
.key-logo{
    height: 8.75rem;
    margin-top: 5px;
    margin-left: 5px;
}
.nav-mid {
    display: flex;
    flex-direction: row;
}
.util-ul {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.util-li {
    color: black;
}
.util-li:hover {
    color: black;
}
.util-nav {
    margin-left: auto;
}
.btn {
    background-color: white;
    margin-left: -10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.input {
    border: 0px;
    padding-left: 12px;
    padding-top: 10px;
    opacity: 0.5;
}
.srch-form{
    border: solid 1px;
    border-color: lightgrey;
    margin-top: 30px;
    width: 225px;
    height: 38.8px;
    margin-right: 35px;
}
.li-loc {
    margin-right: 20px;
}
.li-cont {
    margin-right: 20px;
}
.nav-hr {
    border-color: black;
    margin-top: 7.5px;
}
.sec-ul {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
}
.left-li {
    padding-left: 0px;
    margin-left: -5px;
    margin-top: -8px;
    font-size: 1.5rem;
    font-weight: 500;
}
.sec-li {
    margin-left: 25px;
    margin-top: -8px;
    font-size: 1.5rem;
    font-weight: 500;
}
.sec-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.li-words {
    color: black;
}
.li-words:hover {
    color: #b30000;
    text-decoration: none;
}
.dropdown-toggle {
    margin-top: -20px;
    margin-left: 100px;
    margin-right: -1px;
    background-color: #2a3134;
    color: white;
    border: none;
    width: 90.33px;
    height: 42.8px;
}
.sign-on {
    position: absolute;
}
.kchecking {
    margin-top: -22px;
    height: auto;
    width: 100%;
}
.tilediv {
    margin-top: -225px;
    margin-left: 200px;
    width: 650px;
    transition: all 0.2s;
}
.tilediv:hover {    
    transform: scale(1.025);
}
.ktile {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 200;
    color: white;
}
.ktile:hover {
    text-decoration: none;
}
.redarrow {
    height: 40px;
    width: 65px;
}
.kcards {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.kcards2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.kcard {
    transition: all 0.2s;
    height: auto;
    width: 78%;
}
.tile {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}
.tile1 {
    margin-left: 160px;
    margin-right: 10px;
}
.tile2 {
    margin-right: 160px;
    margin-left: 10px;
}
.kcard:hover {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.025);
}
.kimg {
    width: 100%;
}
.tiptitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #b30000;
    font-weight: 200;
    margin-top: 70px;
    font-size: 33px;
}
.howtogroup {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.howtoitem {
    width: 25%;
    height: auto;
    border: lightgrey 0.25px solid;
}
.itemwords {
    padding: 20px;
}
.itemimg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.linktitle {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 12px;
}
.itemlink {
    font-size: 18px;
    font-weight: bold;
}
.overlay2 {
    height: auto;
    width: 100%;
}
.accountgroup {
    width: 250px;
    margin-right: 150px;
    margin-top: 55px;
    margin-bottom: 55px;
}
.kaccounts {
    background-image: url("/images/koverlay2.png");
    display: flex;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
}
.inditems {
    padding: 0px;
}
.inditemstitle {
    font-size: 18px;
    font-weight: bold;
}
.itemslink {
    color: #0267b1;
    font-weight: lighter;
}
.itemslink:hover {
    color: #0267b1;
}
.acctitem {
    margin-top: 20px;
}
.acctitems {
    margin-top: 12px;
}
.kcontact {
    background-color: #bfc6cb;
    height: 286px;
}
.kabout {
    background-color: #585d64;
    height: 251px;
}
.kcontgroup{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}
.contimg {
    height: 40px;
    margin-left: -5px;
    margin-bottom: 10px;
}
.contsect {
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
}
.contmid {
    border-right: #585d64 solid 1px;
    border-left: #585d64 solid 1px;
    height: 160px;
    padding-left: 20px;
    padding-right: 20px;
}
.kconttitle {
    font-size: 18px;
    font-weight: bold;
    color: #3e484c;
}
.ktel {
    color: #025089;
    text-decoration: underline;
    font-size: 15px;
}
.ktdd {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
}
.kappt {
    text-decoration: underline;
    color: #025089;
}
.kloca {
    height: 38.8px;
    width: 245.89px;
    border: solid 1px;
    border-color: lightgrey;
    padding: 10px;
}
.kbtn {
    background-color: #b30000;
    color: white;
    border: none;
    border-radius: 5%;
    height: 38.8px;
    width: 54.11px;
    margin-left: 5px;
}